In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,r2_score,mean_squared_error,classification_report
from sklearn.preprocessing import StandardScaler

In [2]:
df=pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [5]:
corr_matrix=df.corr()
corr_matrix['Purchased']

/tmp/ipykernel_7380/1829866271.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix=df.corr()

User ID            0.007120
Age                0.622454
EstimatedSalary    0.362083
Purchased          1.000000
Name: Purchased, dtype: float64

In [14]:
y=df['Purchased']
x=df[['Age','EstimatedSalary']]
model=LogisticRegression()
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20 ,random_state=85)

ss=StandardScaler()
x_train=ss.fit_transform(x_train)
x_test=ss.transform(x_test)


model.fit(x_train,y_train)
y_pred=model.predict(x_test)
c_matrix=confusion_matrix(y_test,y_pred)
r2_sc=r2_score(y_test,y_pred)
report=classification_report(y_test,y_pred)

In [15]:
c_matrix

array([[48,  3],
       [ 9, 20]])

In [16]:
r2_sc

0.3509127789046652

In [17]:
print(report)

              precision    recall  f1-score   support

           0       0.84      0.94      0.89        51
           1       0.87      0.69      0.77        29

    accuracy                           0.85        80
   macro avg       0.86      0.82      0.83        80
weighted avg       0.85      0.85      0.85        80